In [7]:

import pandas as pd

In [8]:
# Carregar Dataframe de clientes (Customers)
df_customers = pd.read_csv("./eda/datasets/churn_customers.csv")
df_services = pd.read_csv("./eda/datasets/churn_services.csv")
df_contracts = pd.read_csv("./eda/datasets/churn_contracts.csv")

#  mostrar 5 primeiros
df_customers.head(5)
df_services.head(5)
df_contracts.head(5)

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
# Mostrar estrutura / schema do DataFrane
df_customers.info()
df_contracts.info()

## Transformacao de dados

In [ ]:
#transformar coluna  TotalCharges de string para Float - abordagem 1 com astype

df_contracts.TotalCharges = df_contracts.TotalCharges.astype(float)


#transformar coluna TotalCharges de String para float (to_numeric)

df_contracts.TotalCharges = pd.to_numeric(df_contracts.TotalCharges)

In [ ]:
# transformar coluna TotalCharges de string para float (to_numeric)

df_contracts.TotalCharges = pd.to_numeric(df_contracts.TotalCharges, errors="coerce")
df_contracts.info()

# Apos a transformacao da coluna TotalCharges do DataFRAME CONTRACTS, A coluna passou a er 11 valores ausentes(missing values)

# Renomear Colunas

In [ ]:

# Renomear coluna no DataFrame, usando rename e dicionario

df_customers.rename(columns={"SeniorCitizen": "Above65yo"})

In [11]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [13]:
# Criar um Dataframe novo com base nas colunas renomeadas
df_customers_renamed = df_customers.rename(columns={"SeniorCitizen": "Above65yo"})

In [ ]:
df_customers_renamed.info()

In [ ]:
# APlica o resultado do rename no propio Dataframe - por default o inplace e false
df_customers.rename(columns={"SeniorCitizen": "Above65yo"}, inplace=True)
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7043 non-null   object
 1   gender      7043 non-null   object
 2   Above65yo   7043 non-null   int64
 3   Partner     7043 non-null   object
 4   Dependents  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [ ]:
# Rename usando Lista - Modificar todos os nomes de colunas
df_customers.columns = ["IDClient", "Genero", "Mais65Anos", "Casado", "TemDependentes"]
df_customers.info()